table {
    Border: 10px solid orange;
    
}

td:hover {
    background-color: fuchsia;
    color: black;
}

tr, th {
    background-color: blue;
    color: red;
}
tr, td {
    background-color: darkgreen;
    color: white;
}
